@model SWENG894.Utility.PaginatedList<SWENG894.Models.NewsFeed>

@if (Model.Count > 0)
{
    foreach (var feed in Model)
    {
        switch (feed.FeedType)
        {
            case NewsFeed.FeedTypes.AcceptedChallenge:
                if (feed.RelatedUserId == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)
                {
                    <div class="card mb-2">
                        <h5 class="card-header">@feed.User.FullName @(" accepted your challenge!")</h5>
                        <div class="card-body">
                            <h5 class="card-title">@feed.RelatedWorkout.Name</h5>
                            <p class="card-text">@feed.RelatedWorkout.Notes</p>
                            <a asp-area="User" asp-controller="Workouts" asp-action="Details" asp-route-id="@feed.RelatedWorkoutId" class="btn btn-primary">View Workout</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card mb-2">
                        <h5 class="card-header">@feed.User.FullName @(" accepted a challenge from ") @feed.RelatedUser.FullName@("!")</h5>
                        <div class="card-body">
                            <h5 class="card-title">@feed.RelatedWorkout.Name</h5>
                            <p class="card-text">@feed.RelatedWorkout.Notes</p>
                            <a asp-area="User" asp-controller="Workouts" asp-action="Details" asp-route-id="@feed.RelatedWorkoutId" class="btn btn-primary">View Workout</a>
                        </div>
                    </div>
                }
                break;

            case NewsFeed.FeedTypes.CompletedChallenge:
                if (feed.RelatedUserId == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)
                {
                    <div class="card mb-2">
                        <h5 class="card-header">@feed.User.FullName @(" completed your challenge!")</h5>
                        <div class="card-body">
                            <h5 class="card-title">@feed.RelatedWorkout.Name</h5>
                            <p class="card-text">@feed.RelatedWorkout.Notes</p>
                            <a asp-area="User" asp-controller="Challenges" asp-action="Details" asp-route-id="@feed.RelatedChallengeId" class="btn btn-primary">View Challenge</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card mb-2">
                        <h5 class="card-header">@feed.User.FullName @(" completed a challenge from ") @feed.RelatedUser.FullName@("!")</h5>
                        <div class="card-body">
                            <h5 class="card-title">@feed.RelatedWorkout.Name</h5>
                            <p class="card-text">@feed.RelatedWorkout.Notes</p>
                            <a asp-area="User" asp-controller="Workouts" asp-action="Details" asp-route-id="@feed.RelatedWorkoutId" class="btn btn-primary">View Workout</a>
                        </div>
                    </div>
                }
                break;

            case NewsFeed.FeedTypes.CompletedWorkout:
                <div class="card mb-2">
                    <h5 class="card-header">@feed.User.FullName @(" completed a workout!")</h5>
                    <div class="card-body">
                        <h5 class="card-title">@feed.RelatedWorkout.Name</h5>
                        <p class="card-text">@feed.RelatedWorkout.Notes</p>
                        <a asp-area="User" asp-controller="Workouts" asp-action="Details" asp-route-id="@feed.RelatedWorkoutId" class="btn btn-primary">View Workout</a>
                    </div>
                </div>
                break;

            case NewsFeed.FeedTypes.PublishedWorkout:
                <div class="card mb-2">
                    <h5 class="card-header">@feed.User.FullName @(" published a new workout.")</h5>
                    <div class="card-body">
                        <h5 class="card-title">@feed.RelatedWorkout.Name</h5>
                        <p class="card-text">@feed.RelatedWorkout.Notes</p>
                        <a asp-area="User" asp-controller="Workouts" asp-action="Details" asp-route-id="@feed.RelatedWorkoutId" class="btn btn-primary">View Workout</a>
                    </div>
                </div>
                break;

            case NewsFeed.FeedTypes.SentChallenge:
                if (feed.RelatedUserId == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)
                {
                    <div class="card mb-2">
                        <h5 class="card-header">@("You have been challenged by ") @feed.User.FullName@("!")</h5>
                        <div class="card-body">
                            <h5 class="card-title">@feed.RelatedWorkout.Name</h5>
                            <p class="card-text">@feed.RelatedWorkout.Notes</p>
                            <a asp-area="User" asp-controller="Challenges" asp-action="Details" asp-route-id="@feed.RelatedChallengeId" class="btn btn-primary">View Challenge</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card mb-2">
                        <h5 class="card-header">@feed.User.FullName @(" challeneged ") @feed.RelatedUser.FullName</h5>
                        <div class="card-body">
                            <h5 class="card-title">@feed.RelatedWorkout.Name</h5>
                            <p class="card-text">@feed.RelatedWorkout.Notes</p>
                            <a asp-area="User" asp-controller="Workouts" asp-action="Details" asp-route-id="@feed.RelatedWorkoutId" class="btn btn-primary">View Workout</a>
                        </div>
                    </div>
                }
                break;
        }
    }
}
else
{
    <div class="card mb-2">
        <h5 class="card-header">No news to show.</h5>
        <div class="card-body">
            <p class="card-text">Add more friends to see additonal feeds.</p>
        </div>
    </div>
}