@model SWENG894.Models.WorkoutResult

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WorkoutResults</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Workout Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Workout.Name)
        </dd>
        <dt class="col-sm-2">
            Athlete Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class="col-sm-10">
            @Model.getTimeDisplayString()
        </dd>
        <dt class="col-sm-2">
            Result Notes
        </dt>
        <dd class="col-sm-10">
            @Model.ResultNotes
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
