@model SWENG894.Models.Message

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h4>
        Message
    </h4>
    <div class="btn-toolbar mb-2 mb-md-0">
        @if (Model.SentById == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)
        {
            <a asp-action="Create" asp-route-id="@Model.SentToId" class="btn btn-primary disabled mr-2">Reply</a>
        }
        else if (Model.MessageType == Message.MessageTypes.FriendRequest)
        {
            <a asp-area="User" asp-controller="Friends" asp-action="ViewRequest" asp-route-sender="@Model.SentById" asp-route-receiver="@Model.SentToId" class="btn btn-primary mr-2">View Request</a>
        }
        else
        {
            <a asp-action="Create" asp-route-id="@Model.SentById" class="btn btn-primary mr-2">Reply</a>
        }

        @if (ViewBag.Box == "sent")
        {
            <a asp-action="Index" asp-route-box="sent" class="btn btn-secondary">Back to List</a>
        }
        else
        {
            <a asp-action="Index" asp-route-box="" class="btn btn-secondary">Back to List</a>
        }
    </div>
</div>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            From
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SentBy.FullName)
        </dd>
        <dt class="col-sm-2">
            To
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SentTo.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SentTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SentTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
    </dl>
</div>

@if (Model.RelatedId != null)
{
    <div>
         <a asp-area="User" asp-controller="Workouts" asp-action="Details" asp-route-id="@Model.RelatedId" class="btn btn-primary">View Workout</a>
    </div>
}

