@model SWENG894.Models.Message

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentBy.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentTo.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
