@model SWENG894.Models.Message

<div>
    <h4>Message</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            From
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SentBy.FullName)
        </dd>
        <dt class="col-sm-2">
            To
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SentTo.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SentTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SentTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
    </dl>
</div>
<div>
    @if (Model.SentById == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)
    {
        <a asp-action="Create" asp-route-id="Model.SentToId" class="btn btn-default disabled">Reply</a> @("|")
        <a asp-action="Index" asp-route-box="sent" class="btn btn-default">Back to List</a>
    }

</div>
