@model SWENG894.Models.FriendRequest

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h4>
        @if (Model.RequestedForId == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)
        {
            @("Are you sure you want to remove ") @Model.RequestedBy.FullName @(" ?")
        }
        else
        {
            @("Are you sure you want to remove ") @Model.RequestedFor.FullName @(" ?")
        }
    </h4>
    <div class="btn-toolbar mb-2 mb-md-0">
        <form asp-action="Delete">
            <input type="hidden" asp-for="RequestedById" />
            <input type="hidden" asp-for="RequestedForId" />
            <a class="btn btn-secondary mr-2" asp-action="Index">Back to List</a>
            <input type="submit" class="btn btn-danger" value="Delete" />
        </form>
    </div>
</div>

