@model SWENG894.Models.FriendRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FriendRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedBy.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedFor.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BecameFriendsTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BecameFriendsTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
