@model SWENG894.Utility.PaginatedList<SWENG894.Models.FriendRequest>

<h3>Friends List</h3>

<form asp-action="Index" method="get">
    <div class="form-row align-items-end">
        <div class="col-auto">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="search" aria-describedby="button-find" value="@ViewBag.CurrentFilter">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="button-find">Search</button>
                </div>
                <a class="btn btn-outline-secondary ml-2" id="button-find" asp-action="Find">Find More Friends!</a>
            </div>
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewBag.SortOrder" asp-route-filter="@ViewBag.CurrentFilter">Last Name</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestedFor.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestedFor.LastName)
                </td>
                <td>
                    <a asp-action="SendChallenge" asp-route-id="@item.RequestedFor.Id">Send Challenge</a> | 
                    <a asp-area="User" asp-controller="Messages" asp-action="Create" asp-route-id="@item.RequestedFor.Id">Send Message</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sort="@ViewBag.CurrentSort"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-search="@ViewBag.CurrentFilter"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sort="@ViewBag.CurrentSort"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-search="@ViewBag.CurrentFilter"
   class="btn btn-default @nextDisabled">
    Next
</a>
