@model SWENG894.Utility.PaginatedList<SWENG894.Models.FriendRequest>

<h4>Friends List</h4>

<form asp-action="Index" method="get">
    <div class="btn-group mb-2" role="group" aria-label="InOut Box">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="search" aria-describedby="button-find" value="@ViewBag.CurrentFilter">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-find">Search</button>
            </div>
        </div>
    </div>
    <a class="btn btn-primary float-right" id="button-find" asp-action="Find">Add Friends</a>
</form>

@if (Model.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sort="@ViewBag.SortOrder" asp-route-filter="@ViewBag.CurrentFilter">Name</a>
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.RequestedById == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)
                        {
                            @Html.DisplayFor(modelItem => item.RequestedFor.FullName)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.RequestedBy.FullName)
                        }

                    </td>
                    <td>
                        @if (item.RequestedById == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)
                        {
                            <a asp-action="SendChallenge" asp-route-id="@item.RequestedForId"><i class="fas fa-dumbbell" tool-tip-toggle="tooltip" data-original-title="Send Challenge"></i></a> @("|")
                            <a asp-area="User" asp-controller="Messages" asp-action="Create" asp-route-id="@item.RequestedForId"><i class="far fa-comment-dots" tool-tip-toggle="tooltip" data-original-title="Send Message"></i></a>
                        }
                        else
                        {
                            <a asp-action="SendChallenge" asp-route-id="@item.RequestedById"><i class="fas fa-dumbbell" tool-tip-toggle="tooltip" data-original-title="Send Challenge"></i></a> @("|")
                            <a asp-area="User" asp-controller="Messages" asp-action="Create" asp-route-id="@item.RequestedById"><i class="far fa-comment-dots" tool-tip-toggle="tooltip" data-original-title="Send Message"></i></a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>


    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";

    <a asp-action="Index"
       asp-route-sort="@ViewBag.CurrentSort"
       asp-route-page="@(Model.PageIndex - 1)"
       asp-route-search="@ViewBag.CurrentFilter"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sort="@ViewBag.CurrentSort"
       asp-route-page="@(Model.PageIndex + 1)"
       asp-route-search="@ViewBag.CurrentFilter"
       class="btn btn-default @nextDisabled">
        Next
    </a>
}
else
{
    <i class="far fa-surprise fa-3x"></i>
    <p>No friends found. Change your search parameter or add more friends.</p>
}
