<div>
    <h4>Ranking Descriptions</h4>
    <hr />
    <table class="table table-striped" style="width: 50%;">
        <colgroup>
            <col span="1" style="width: 50%;" />
            <col span="1" style="width: 50%;" />
        </colgroup>
        <thead>
            <tr>
                <th>
                    Rank
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span style="color: dodgerblue"><i class="fas fa-gem fa-3x"></i></span>@("Diamond")
                </td>
                <td>
                    Diamond is the highest ranking given to the top group of players.
                </td>
            </tr>
            <tr>
                <td>
                    <span style="color: lightskyblue"><i class="fas fa-star fa-3x"></i></span>@("Platinum")
                </td>
                <td>
                    Platinum is the second highest ranking.
                </td>
            </tr>
            <tr>
                <td>
                    <span style="color: gold"><i class="fas fa-medal fa-3x"></i></span>@("Gold")
                </td>
                <td>
                    Gold is the middle ranking.
                </td>
            </tr>
            <tr>
                <td>
                    <span style="color: silver"><i class="fas fa-medal fa-3x"></i></span>@("Silver")
                </td>
                <td>
                    Silver is the second ranking.
                </td>
            </tr>
            <tr>
                <td>
                    <span style="color: #b08d57"><i class="fas fa-medal fa-3x"></i></span>@("Bronze")
                </td>
                <td>
                    Bronze is the first ranking, generally given to new competitors.
                </td>
            </tr>
        </tbody>
    </table>
    <a href="javascript:history.back()">Back</a>
</div>

