@model SWENG894.Utility.PaginatedList<SWENG894.Models.Workout>

<h4>My Workouts</h4>

<form asp-action="Index" method="get">
    <div class="btn-group mb-2" role="group">

        <div class="input-group mb-3">
            <div class="btn-group btn-group-toggle mr-2" role="group">
                <a asp-action="Index" asp-route-list="" type="button" class="btn btn-outline-secondary" id="published">Published</a>
                <a asp-action="Index" asp-route-list="unpublished" type="button" class="btn btn-outline-secondary" id="unpublished">Unpublished</a>
            </div>
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="search" aria-describedby="button-find" value="@ViewBag.CurrentFilter">
            <input type="hidden" name="list" value="@ViewBag.CurrentList" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-find">Search</button>
            </div>
        </div>
    </div>
    <a class="btn btn-primary float-right" asp-area="User" asp-controller="WorkoutResults" asp-action="Index">Workout Results</a>
    <a class="btn btn-primary float-right mr-2" id="button-find" asp-action="Find">Find Workouts</a>
    <a class="btn btn-primary float-right mr-2" id="button-create" asp-action="Create">Create New</a>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewBag.SortOrder" asp-route-filter="@ViewBag.CurrentFilter">Name</a>
            </th>
            <th>
                Scoring Type
            </th>
            <th>
                Reps/Time
            </th>
            <th>
                Notes
            </th>

            <th>
                Scaling Options
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScoringType)
            </td>
            <td>
                @item.GetTimeDisplayString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ScalingOptions)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle" tool-tip-toggle="tooltip" data-original-title="Details"></i></a>
                @if (item.Published)
                {
                    @("|")
                    <a asp-area="User" asp-controller="WorkoutResults" asp-action="ViewWorkoutResults" asp-route-id="@item.Id"><i class="fas fa-poll" tool-tip-toggle="tooltip" data-original-title="Previous Results"></i></a> @("|")
                    <a asp-area="User" asp-controller="Messages" asp-action="Share" asp-route-id="@item.Id"><i class="far fa-share-square" tool-tip-toggle="tooltip" data-original-title="Share Workout"></i></a>
                }

            </td>
        </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Find"
   asp-route-sort="@ViewBag.CurrentSort"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-search="@ViewBag.CurrentFilter"
   asp-route-list="@ViewBag.CurrentList"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Find"
   asp-route-sort="@ViewBag.CurrentSort"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-search="@ViewBag.CurrentFilter"
   asp-route-list="@ViewBag.CurrentList"
   class="btn btn-default @nextDisabled">
    Next
</a>

@section Scripts {
    <script>
        var tab = GetParameterByName("list");
        if (tab != null && tab != "") {
            $("#unpublished").button('toggle');
        } else {
            $("#published").button('toggle');
        }
    </script>
}