@model SWENG894.Models.Challenge

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h4>
        Challenge Details
    </h4>
    <div>
        <form asp-action="Details">
            @if (Model.Contender.Id == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)
            {
                switch (Model.ChallengeProgress)
                {
                    case Challenge.ChallengeStatus.New:

                        <input asp-action="Details" asp-route-id="@Model.Id" asp-route-status="@Challenge.ChallengeStatus.Accepted" type="submit" value="Accept" class="btn btn-primary mr-2" />
                        <input asp-action="Details" asp-route-id="@Model.Id" asp-route-status="@Challenge.ChallengeStatus.Rejected" type="submit" value="Reject" class="btn btn-danger" />
                        break;
                    case Challenge.ChallengeStatus.Accepted:
                        <a asp-area="User" asp-controller="WorkoutResults" asp-action="Create" asp-route-id="@Model.WorkoutId" asp-route-challenge="@Model.Id" class="btn btn-secondary">Record Results</a>
                        break;
                    case Challenge.ChallengeStatus.CompletedByChallenger:
                        <a asp-area="User" asp-controller="WorkoutResults" asp-action="Create" asp-route-id="@Model.WorkoutId" asp-route-challenge="@Model.Id" class="btn btn-secondary">Record Results</a>
                        break;
                }
            }
            else
            {
                switch (Model.ChallengeProgress)
                {
                    case Challenge.ChallengeStatus.Accepted:
                        <a asp-area="User" asp-controller="WorkoutResults" asp-action="Create" asp-route-id="@Model.WorkoutId" asp-route-challenge="@Model.Id" class="btn btn-secondary">Record Results</a>
                        break;
                    case Challenge.ChallengeStatus.CompletedByContender:
                        <a asp-area="User" asp-controller="WorkoutResults" asp-action="Create" asp-route-id="@Model.WorkoutId" asp-route-challenge="@Model.Id" class="btn btn-secondary">Record Results</a>
                        break;
                }
            }
        </form>
    </div>
</div>

<div class="mb-3">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChallengeProgress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChallengeProgress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Challenger)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Challenger.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contender.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workout)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Workout.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChallengerResult)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChallengerResult.Score)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContenderResult)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContenderResult.Score)
        </dd>

    </dl>
</div>

<div class="btn-toolbar mb-2 mb-md-0">
    <a class="btn btn-secondary mr-2" asp-area="User" asp-controller="Challenges" asp-action="Index">Cancel</a>
</div>

